body {
    background-color: #0f1624;
    color: #eaeaea;
}
nav {
    background-color: #030619;
    border-bottom: 2px solid #787c83;
}

/* Para hacer el efecto borroso en la nav */
.navbar-blur {
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(12px) saturate(180%);
}

header {
    background: radial-gradient(#2a364d 0%, #192333 40%, #0f1624 70%);
}

header .container {
    position: relative;
    z-index: 2;
}

footer {
    background-color: #030619;
    border-top: 2px solid #787c83;

}

ion-icon {
    font-size: 64px;
}

.card {
    background-color: rgba(248, 244, 236, 0.246);
}

.card-title {
    color: #eaeaea;
}

.profile-img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #fff;
}

.containerTechIcons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#iconLinks a {
    color: white;
    text-decoration: none;
}

#iconLinks button:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.btn-outline-light:hover, .btn-outline-light:focus {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.fade-text {
    display: inline-block;
    transition: opacity 0.3s ease;
}
.fade-out {
    opacity: 0;
}
.fade-in {
    opacity: 1;
}